@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
  font-family: 'Lobster', cursive;
  background-color:#34495e;
}

.navbar {
  margin: 0 auto;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 27px;
}

.navbar a:hover {
  color: green;
}

#logo{
  border-radius: 200px;
  width: 1px;
  height: 150px;
  
}

#menu{
  padding-left: 70%;
}

#crvideo {
  position: relative;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.field {
  display:flex;
  position:realtive;
  margin:5em auto;
  width:70%;
  flex-direction:row;
  box-shadow:
   1px 1px 0 rgb(22, 160, 133),
   2px 2px 0 rgb(22, 160, 133),
   3px 3px 0 rgb(22, 160, 133),
   4px 4px 0 rgb(22, 160, 133),
   5px 5px 0 rgb(22, 160, 133),
   6px 6px 0 rgb(22, 160, 133),
   7px 7px 0 rgb(22, 160, 133)
  ;
}

.field>input[type=text],
.field>button {
  display:block;
  font:1.2em 'Montserrat Alternates';
}

.field>input[type=text] {
  flex:1;
  padding:0.6em;
  border:0.2em solid rgb(26, 188, 156);
}

.field>button {
  padding:0.6em 0.8em;
  background-color:rgb(26, 188, 156);
  color:white;
  border:none;
}

label, a{
  color: white;
}

.mapa {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

