@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
  font-family: 'Lobster', cursive;
  background-color:#34495e;
  margin: 0px;
}

.navbar {
  margin: 0 auto;
  overflow: hidden;
  background-color: #333;
  position: absolute;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 22px 16px;
  text-decoration: none;
  font-size: 28px;
}

.navbar a:hover {
  color: green;
}

#logo{
  border-radius: 200px;
  width: 1px;
  height: 150px;
  
}

#menu{
  padding-left: 70%;
}

.container {
  height: 100%;
  position: relative;
}

.container_section1{
  /* Take full size */
  height: 100%;
  width: 100%;
  /* Stick to the top */
  position: sticky;
  top: 0;
}

#crvideo {
  position: absolute;
  object-fit: cover;
  height: 92%;
  width: 100%;
  z-index: -100;
}

.field {
  display:flex;
  position: relative;
  justify-content: center;
  align-content: center;
  margin:5em auto;
  width:70%;
  flex-direction:row;
  padding-top: 10%;
  z-index: -100;
}

.field>input[type=text],
.field>button {
  
  display:block;
  font:1.2em 'Montserrat Alternates';
}

.field>input[type=text] {
  flex:1;
  padding:0.6em;
  border:0.2em solid rgb(26, 188, 156);
}

.field>button {
  padding:0.6em 0.8em;
  background-color:rgb(26, 188, 156);
  color:white;
  border:none;
}

.wave {
  position: relative;
  padding-top: 10%;
  z-index: -100;
}

label, a{
  color: white;
}

.mapa {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: -100;
}


label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
  margin: .4rem 0;
}
label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
  margin: .4rem 0;
}
